# Directories
/.gradle/
/build/
/eclipse
/run/
/out/
/asm/
/bin/
/build/
/config/
crash-reports/
/.idea/
/.metadata/
/.settings/
/libs/
/saves/
/resourcepacks/
/logs/
/mods/
/screenshots/

# File extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project

#Specific files
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-1.7.10-10.13.2.1277-changelog.txt